header {
    background-color: var(--color-primary);
}

nav {
    display: flex;
    gap: 3rem;
    align-self: center;
    justify-self: center;
    justify-content: right;
    width: 100%;
    padding: var(--spacing-s);


    .nav-link, .button {
        display: none;
    }

    button {
        background: none;
        border: none;
    }
}
