/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@layer styleguide {

    @font-face {
        font-family: "Cinzel";
        src: url("assets/fonts/Cinzel-VariableFont_wght.ttf");
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    :root {
        --color-primary: #002646;
        --color-secondary: #fff;
        --color-accent: #d8b66a;
        --color-inactive: #E9E9E9;
        --color-inactive-dark: #6E6E6E;

        --spacing-s: calc(var(--spacing-m) / 2);
        --spacing-m: 1.8rem;


        --animation-duration: 0.3s;

        --font-size-xxl: 4rem;
        --font-size-xl: 3rem;
        --font-size-l: 2rem;
        --font-size-m: 1.5rem;
        --font-size-s: 1rem;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        color: var(--color-primary);
        padding-inline: var(--spacing-s);

        @media (width > 900px) {
            padding-inline: var(--spacing-m);
        }
    }

    h1 {
        font-size: var(--font-size-xl);
        font-family: "Cinzel";

        @media (width > 900px) {
            font-size: var(--font-size-xxl);
        }
    }

    h2 {
        font-size: var(--font-size-l);
    }

    h3 {
        font-size: var(--font-size-m);
    }

    p {
        font-size: var(--font-size-s);
        line-height: 1.4;
    }

    h2,
    h3,
    p {
        font-weight: 400;
        margin-block: var(--spacing-s);
    }

    h2,
    h3 {
        text-transform: uppercase;
    }

    section {
        margin-block: var(--spacing-m);

        &.styleguide-section {

            &.flex-styleguide {
                display: flex;
                gap: 1rem;
            }

            .color-visual {
                width: 150px;
                aspect-ratio: 1/1;
                display: grid;
                place-content: center;
                border-radius: 100%;

                &.primary-color {
                    background-color: var(--color-primary);
                    color: var(--color-secondary);
                }

                &.secondary-color {
                    background-color: var(--color-secondary);
                    border: 1px solid var(--color-primary);
                }

                &.accent-color {
                    background-color: var(--color-accent);
                }

                &.inactive-color {
                    background-color: var(--color-inactive);
                }

                &.inactive-color-dark {
                    background-color: var(--color-inactive-dark);
                    color: var(--color-secondary);
                }
            }
        }
    }

    a {
        font-size: var(--font-size-s);
        text-decoration: none;
        color: var(--color-primary);

        display: grid;
        grid-template-columns: max-content min-content;
        place-items: center;
        gap: 0.5rem;

        width: max-content;

        &.nav-link {
            color: var(--color-secondary);

            &.dark-bg {
                background-color: var(--color-primary);
                padding: var(--spacing-s);
            }

            svg {
                rotate: 90deg;

                @media (prefers-reduced-motion: no-preference) {
                    transition: all var(--animation-duration) ease;
                }

                path {
                    stroke: var(--color-secondary);
                }
            }

            @media (any-pointer: fine) {

                &:hover {
                    svg {
                        rotate: -90deg;
                    }
                }
            }
        }

        &.body-link {

            svg {
                @media (prefers-reduced-motion: no-preference) {
                    transition: all var(--animation-duration) ease;
                }
            }

            @media (any-pointer: fine) {

                &:hover {

                    svg {
                        translate: 1rem 0;
                    }
                }
            }
        }

        &.button {
            width: max-content;
            padding: 1rem;
            border-radius: 100px;
            border: 0;
            gap: 1.5rem;
            margin-block: var(--spacing-s);


            @media (prefers-reduced-motion: no-preference) {
                transition: all var(--animation-duration) ease;
            }

            @media (any-pointer: fine) {
                &:hover {
                    scale: 1.05;
                }
            }


            &.primary {
                background-color: var(--color-primary);
                color: var(--color-secondary);

                @media (any-pointer: fine) {

                    &:hover {
                        background-color: var(--color-accent);
                        color: var(--color-primary);

                        path {
                            stroke: var(--color-primary);
                        }
                    }
                }
            }

            &.secondary {
                background-color: var(--color-secondary);
                border: 1px solid var(--color-primary);

                @media (any-pointer: fine) {

                    &:hover {
                        background-color: var(--color-primary);
                        color: var(--color-secondary);

                        path {
                            stroke: var(--color-secondary)
                        }
                    }
                }

            }
        }
    }

    form {
        label {
            display: flex;
            gap: 1rem;
            margin-block: var(--spacing-s);

            input[type="text"],
            input[type="email"] {
                width: 100%;
                outline: none;
                border-inline: none;
                border-top: none;
                border-bottom: 1px solid var(--color-primary);

                @media (width > 900px) {
                    width: unset;
                }
            }
        }
    }
}