body {
    height: 300vh;
}

header {
    background-color: var(--color-primary);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

article {
    margin-top: var(--spacing-s);
}

h1 {
    font-weight: 300;
}

nav {
    display: flex;
    gap: 3rem;
    align-self: center;
    justify-self: center;
    justify-content: right;
    width: 100%;
    padding: var(--spacing-s);


    .nav-link,
    .button {
        display: none;
    }

    button {
        background: none;
        border: none;
    }
}

section.hero {
    background-image: url("../assets/img/heroImg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--color-secondary);
    display: grid;

    height: 100vh;
    padding: 10rem var(--spacing-s) var(--spacing-m);
    margin: 0;

    display: grid;
    grid-template-rows: min-content 1fr min-content min-content min-content min-content min-content;
    align-items: end;

    p {
        margin: 0;
    }
}


section.tentoonstellingen {
    article {
        border: 1px solid var(--color-inactive);

        img {
            width: 100%;
            aspect-ratio: 2/1;
            object-fit: cover;

            @media (width > 800px) {
                aspect-ratio: 3/1;
            }

            @media (width > 1400px) {
                aspect-ratio: 4/1;
            }
        }

        div {
            padding: 0 var(--spacing-s) var(--spacing-s);


            @media (width > 800px) {
                display: grid;
                grid-template-columns: repeat(1fr max-content);
                padding-bottom: 0;
            }

            p:nth-of-type(2) {
                grid-row: 2/3;
            }

            a {
                @media (width > 800px) {
                    grid-column: 2/3;
                    grid-row: 2/3;
                    justify-self: end;
                }
            }
        }
    }
}