header {
    background-color: var(--color-primary);
}

article {
    margin-top: var(--spacing-s);
}

nav {
    display: flex;
    gap: 3rem;
    align-self: center;
    justify-self: center;
    justify-content: right;
    width: 100%;
    padding: var(--spacing-s);


    .nav-link,
    .button {
        display: none;
    }

    button {
        background: none;
        border: none;
    }
}


section.tentoonstellingen {
    article {
        border: 1px solid var(--color-inactive);

        img {
            width: 100%;
            aspect-ratio: 2/1;
            object-fit: cover;

            @media (width > 800px) {
                aspect-ratio: 3/1;
            }

            @media (width > 1400px) {
                aspect-ratio: 4/1;
            }
        }

        div {
            padding: 0 var(--spacing-s) var(--spacing-s);


            @media (width > 800px) {
                display: grid;
                grid-template-columns: repeat(1fr max-content);
                padding-bottom: 0;
            }

            p:nth-of-type(2) {
                grid-row: 2/3;
            }

            a {
                @media (width > 800px) {
                    grid-column: 2/3;
                    grid-row: 2/3;
                    justify-self: end;
                }
            }
        }
    }
}