/* body {
    height: 300vh;
} */

header {
    background-color: var(--color-primary);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

article {
    margin-top: var(--spacing-s);
}

h1 {
    font-weight: 300;
}

h2 {
    padding-inline: var(--spacing-s);
}

nav {
    display: flex;
    gap: 3rem;
    align-self: center;
    justify-self: center;
    justify-content: right;
    width: 100%;
    padding: var(--spacing-s);


    .nav-link,
    .button {
        display: none;
    }

    button {
        background: none;
        border: none;
    }
}

section.hero {
    background-image: url("../assets/img/heroImg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--color-secondary);
    display: grid;

    height: 100vh;
    padding: 10rem var(--spacing-s) var(--spacing-m);
    margin: 0;

    display: grid;
    grid-template-rows: min-content 1fr min-content min-content min-content min-content min-content;
    align-items: end;

    p {
        margin: 0;
    }

    h3 {
        max-width: 18rem;
    }
}


section.tentoonstellingen {

    a {
        padding-inline: var(--spacing-s);
    }

    article {
        height: 80vh;
        background-image: url(../assets/img/tentoonstelling1.png);
        background-repeat: no-repeat;
        background-size: cover;
        align-content: end;
        padding-bottom: var(--spacing-m);

        p,
        a {
            padding-inline: var(--spacing-s);
            width: 20rem;
            color: var(--color-secondary);
        }

        svg {
            path {
                stroke: var(--color-secondary);
            }
        }
    }
}


section.about-us {
    display: flex;
    scroll-snap-type: x mandatory;
    gap: var(--spacing-s);
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: var(--spacing-s);
    scrollbar-width: none;

    article {
        background-color: blue;
        min-width: 18rem;
        aspect-ratio: 1/1;

        padding: var(--spacing-s);
        border-radius: 16px;

        color: var(--color-secondary);

        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            color: var(--color-secondary);

            svg {
                path {
                    stroke: var(--color-secondary);
                }
            }
        }

        &:nth-of-type(1) {
            background-image: url(../assets/img/About1.png);
        }

        &:nth-of-type(2) {
            background-image: url(../assets/img/About2.png);
        }
        &:nth-of-type(3) {
            background-image: url(../assets/img/About3.png);
        }

    }
}


section.form {
    margin-top: calc(var(--spacing-m) * 3);
}